page-home {
	background-color: #fff;
	ion-content{
		margin-top: 5%;
		margin-bottom: 5%;
		height: 91%;
	}

	.avancarButton{
		position: absolute;
		bottom: 10pt;
		right: 10pt;
		z-index: 5;	
	}
	#texto{
		text-align: center;
		font-size: 17pt;
		padding: 10pt;
		color: #032842;
		font-weight: bolder;
	}
	#endereco{
		text-align: center;
		font-size: 12pt;
		padding: 10pt;
		color: #032842;
		font-weight: bolder;
	}

}
