page-tela-agradecimento {
	#texto { margin-top: 10pt; }
	#texto p{
		text-align: center;
		font-size: 17pt;
		padding: 3pt;
		color: #032842;
		font-weight: bolder;
	}
	button{
		font-weight: bolder;
		font-size: 13pt;
	}
}
